.HeadTest {
  background-color: yellow;
  color: orange;
  height: 30px;
  width: 30px;
  border: 2px;
}
.tableTestHover {
  background-color: "#FFF999";
  color: orange;
}
.tableTest:active {
  background-color: "#FFD400";
  color: orange;
}
#navBar thead {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  width: 100vw;
  height: 40px;
  position: fixed;
}

#navBar td {
  display: inline-block;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
}

#navBar a {
  color: orange;
}
