.NavBar {
  text-decoration-line: none;
  color: #212121;
  font-weight: bolder;
  font-size: 20px;
  height: 40px;
  width: 30px;
  border: 0px;
  contain: content;
}
.NavBar:hover {
  color: #606060;
}
