/* styles.css */
/* 모든 <a> 태그의 기본 스타일 제거 */
a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

a:hover,
a:focus,
a:active {
  text-decoration: none; /* 호버, 포커스, 액티브 상태에서 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

/* Header 스타일 */
.header {
  background-color: #f8f9fa; /* 배경색 */
  padding: 20px; /* 패딩 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  display: flex;
  justify-content: space-between; /* 좌우 여백 */
  align-items: center; /* 수직 중앙 정렬 */
}

/* HeaderLayout 스타일 */
.headerLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 */
}

.headerLayout main {
  flex: 1; /* 남은 공간을 채우도록 */
  padding: 20px; /* 패딩 */
}

/* NavBar.css */

.NavBar {
  color: #212121;
  font-weight: bolder;
  font-size: 20px;
  height: 40px;
  width: 30px;
  border: 0px;
  contain: content;
}
.NavBar:hover {
  color: #606060;
}
