/* styles.css */

/* 글꼴 변경*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
button {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* 모든 <a> 태그의 기본 스타일 제거 */
li {
  list-style-type: none;
}
a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

a:hover,
a:focus,
a:active {
  text-decoration: none; /* 호버, 포커스, 액티브 상태에서 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

/* Header 스타일 */
.header {
  background-color: white; /* 배경색 */
  padding: 20px; /* 패딩 */
  border-bottom: 2px solid gold;
  display: flex;
  justify-content: space-between; /* 좌우 여백 */
  align-items: center; /* 수직 중앙 정렬 */
}

/* HeaderLayout 스타일 */
.headerLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 */
}

.headerLayout main {
  flex: 1; /* 남은 공간을 채우도록 */
  padding: 20px; /* 패딩 */
}

/* NavBar.css */

.NavBar {
  margin-right: 35px;
  color: #212121;
  font-weight: bolder;
  font-size: 20px;
  border: 0px;
  contain: content;
}
.NavBar:hover {
  color: #606060;
}

.NavBar.selected {
  color: #ffb703;
}

/* logo.css */
.Logo {
  margin-right: 35px;
  width: 50px;
  height: 50px;
}

/* WriteButton.css */
.WriteButton {
  border: none;
  border-radius: 15px;
  height: 40px;
  width: 90px;
  background-color: gold;
  color: #cd8f49;
  font-size: 20px;
  font-weight: bolder;
  float: right;
  border-bottom: 3px solid goldenrod;
}
.WriteButton:hover {
  background-color: #ffeb5a;
}
.WriteButton:active {
  background-color: goldenrod;
}

/* ListBox.css */
.ListBox {
  display: grid;
}

/* SubHead.css */
.SubHead {
  background-color: white; /* 배경색 */
  padding: 20px; /* 패딩 */
  border-bottom: 5px solid gold;
  justify-content: space-between; /* 좌우 여백 */
  align-items: center; /* 수직 중앙 정렬 */
}

.SubHead_a {
  color: gold;
  font-size: 30px;
  font-weight: bolder;
}

.SubHead_a:hover {
  color: gold;
}

.SubHead_b {
  color: #212121;
  font-size: 30px;
  font-weight: bolder;
}

.SubHead_b:hover {
  color: #212121;
}
/* HeaderLayout 스타일 */
.SubHeadLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 */
}

.SubHeadLayout main {
  /* flex: 1; 남은 공간을 채우도록 */
  padding: 20px; /* 패딩 */
}
